{% extends "common/base.html" %} {% load i18n %} {% block content %}

<div class="intro-header">
  <div class="container">
    <div class="row vh100">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="intro-message">
          <h2 class="animated zoomIn">Padakosham</h2>
          <h4>Enter Your Details</h4>
          <form method="post" action=".">
            {% csrf_token %}
            {{ form.email.errors }}
            <div class="form-group animated bounceInLeft">
              {{ form.email }}
            </div>
            {{ form.password1.errors }}
            <div class="form-group animated bounceInRight">
              {{ form.password1 }}
            </div>
            {{ form.password2.errors }}
            <div class="form-group animated bounceInLeft">
              {{ form.password2 }}
            </div>
            {{ form.first_name.errors }}
            <div class="form-group animated bounceInRight">
              {{ form.first_name }}
            </div>
            {{ form.last_name.errors }}
            <div class="form-group animated bounceInLeft">
              {{ form.last_name }}
            </div>
            {{ form.school_code.errors }}
            <div class="form-group animated bounceInRight">
              {{ form.school_code }}
            </div>
            <div>
              <input type="submit" class="btn btn-success white pull-right" value="{% trans 'Submit' %}" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
