{% extends "common/layout.html" %}
{% block wrapper %}
<div class="intro-header">
  <div class="container">
    <div class="row vh100">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="intro-message animated zoomIn">
          <h2>Padakosham</h2>
          <h4>Enter Your Details</h4>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <a href="#">
              <button type="submit" class="btn btn-success white pull-right">Sign In</button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}