{% for word in unverified_words %}
    Word: {{ word.text }} <br>
    Meanings: <br>
    {% for meaning in word.meaning_set.all %}
      - {{ meaning.text }} <br>
    {% endfor %}
    <form action="{% url 'approve_word' pk=word.id %}" method="POST">{% csrf_token %} 
      <button type="submit" class="btn btn-success btn-lg white">Approve</button>
    </form>
    <a href="{% url 'edit_word' pk=word.id %}"><button type="submit" class="btn btn-success btn-lg white">Edit</button></a>
    <br> <br>
{% endfor %}
