{% include "common/inner_pages.html" %}
<div class="wrapper">
  <div class="row">
    <div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12" id="main">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-lg-12 top-pad100">
              <h2 class="animated zoomIn white">പദകോശം</h2>
              <h4 class="white">നിങ്ങളുടെ വിവരങ്ങൾ ചേർക്കുക</h4>
              <form method='post'>
                {% csrf_token %}
                <div class="form-group animated bounceInLeft">
                  <input type="text" class="form-control" id="student_name" name="name" placeholder="പേര്" required='required'>
                </div>
                <div class="form-group animated bounceInRight">
                  <input type="text" class="form-control" id="grade" name="grade" placeholder="ക്ലാസ്" required='required'>
                </div>
                <div class="form-group animated bounceInLeft">
                  <select class="form-control" id="district" onchange="loadData('subdistrict','/data/retrieve?district='+this.value, 'സബ്‌‌ജില്ല')">
                    <option value="" disabled selected>ജില്ല</option>
                  </select>
                </div>
                <div class="form-group animated bounceInRight">
                  <select class="form-control" id="subdistrict" onchange="loadData('school','/data/retrieve?subdistrict='+this.value, 'സ്കൂൾ')">
                    <option value="" disabled selected>സബ്‌‌ജില്ല</option>
                  </select>
                </div>
                <div class="form-group animated bounceInLeft">
                  <select class="form-control" id="school" name="school1221">
                    <option value="" disabled selected>സ്കൂൾ</option>
                  </select>
                </div>
                  <button type="submit" class="btn btn-success white pull-right">വാക്കുകൾ ചേർത്ത് തുടങ്ങുക </button>
               </form>
            </div>
          </div>
      </div>
    </div>
    <div class="hidden column col-lg-3 col-md-3 col-sm-3 col-xs-12" id="sidebar">
      {% include "common/sidebar.html" %}
    </div>
  </div>
</div>

<script type="text/javascript">

$(function(){
  loadData('district', '/data/retrieve?', 'ജില്ല');
});

function loadData(id, url , option) {
    $("#"+id).html($('<option>', { 
        value   : option,
        text    : option,
        disabled: true,
        selected: true
    }));
    $.ajax({
      type: "GET",
      crossDomain: true,
      url: url,
      dataType: "json",
      success: function(resultData){
          $.each(resultData[Object.keys(resultData)[0]], function (i, item) {
              $("#"+id).append($('<option>', { 
                  value: item,
                  text : item 
              }));
          });
      },
      error: function(e) {
        alert('Check the Console to see Error Messages');
        console.log(e);
      },
    });
};

</script>